<div id="page-container">

  <!-- Main Container -->
  <main id="main-container">
    <!-- Page Content -->
    <div class="bg-image">
      <div class="row g-0 bg-primary-op">
        <!-- Main Section -->
        <div class="hero-static col-md-12 d-flex align-items-center bg-body-extra-light">
          <div class="p-3 w-100">
            <!-- Header -->
            <div class="mb-3 text-center">
              <a class="link-fx fw-bold fs-1" href="index.html">
                <span class="text-dark">Big</span><span class="text-primary">assets</span>
              </a>
              <p class="text-uppercase fw-bold fs-sm text-muted">Sign In</p>
            </div>
            <!-- END Header -->

            <!-- Sign In Form -->
            <div class="row g-0 justify-content-center">
              <div class="col-sm-6 col-xl-4">
                <div class="py-3">
                  <div class="mb-4">
                    <input type="text" class="form-control form-control-lg form-control-alt" id="login-username"
                      name="login-username" placeholder="Username" value="admin">
                  </div>
                  <div class="mb-4">
                    <input type="password" class="form-control form-control-lg form-control-alt" id="login-password"
                      name="login-password" placeholder="Password" value="password">
                  </div>
                </div>
                <div class="mb-4">
                  <!-- <button type="submit" class="btn w-100 btn-lg btn-hero btn-primary" routerLink="/dashboard">
                        <i class="fa fa-fw fa-sign-in-alt opacity-50 me-1"></i> Sign In
                      </button> -->
                  <a href="" class="btn w-100 btn-lg btn-hero btn-primary" routerLink="/dashboard"><i class="fa fa-fw fa-sign-in-alt opacity-50 me-1"></i> Sign In</a>
                  <p class="mt-3 mb-0 d-lg-flex justify-content-lg-between">
                    <a class="btn btn-sm btn-alt-secondary d-block d-lg-inline-block mb-1" href="op_auth_reminder.html">
                      <i class="fa fa-exclamation-triangle opacity-50 me-1"></i> Forgot password
                    </a>
                    <a class="btn btn-sm btn-alt-secondary d-block d-lg-inline-block mb-1" href="op_auth_signup.html">
                      <i class="fa fa-plus opacity-50 me-1"></i> New Account
                    </a>
                  </p>
                </div>
              </div>
            </div>
            <!-- END Sign In Form -->
          </div>
        </div>
        <!-- END Main Section -->
      </div>
    </div>
    <!-- END Page Content -->
  </main>
  <!-- END Main Container -->
</div>
