<div id="page-container" class="sidebar-o sidebar-dark enable-page-overlay side-scroll page-header-fixed">
    <app-header></app-header>
    <main id="main-container">
      <!-- Hero -->
      <div class="bg-body-light">
        <div class="content content-full">
          <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
            <h1 class="flex-grow-1 fs-3 fw-semibold my-2 my-sm-3">Permission</h1>
            <nav class="flex-shrink-0 my-2 my-sm-0 ms-sm-3" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">Permission</li>
                <li class="breadcrumb-item active" aria-current="page">Lists</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
      <!-- END Hero -->

      <!-- Page Content -->
      <div class="content">

        <!-- Bordered Table -->
        <div class="block block-rounded">
          <div class="block-header block-header-default">
            <h3 class="block-title">Lists</h3>
          </div>
          <div class="block-content">
            <table class="table table-bordered table-vcenter">
              <thead>
                <tr class="table-dark">
                  <th class="text-center" style="width: 50px;">#</th>
                  <th>Name</th>
                  <th class="text-center" width="40%">Actions</th>
                </tr>
              </thead>
              <tbody>
                
              </tbody>
            </table>
          </div>
        </div>
        <!-- END Bordered Table -->

      </div>
      <!-- END Page Content -->
    </main>
    <app-footer></app-footer>
</div>
    
