<div id="page-container" class="sidebar-o sidebar-dark enable-page-overlay side-scroll page-header-fixed main-content-narrow">
    <app-header></app-header>
    <main id="main-container">
      <!-- Hero -->
      <div class="bg-body-light">
        <div class="content content-full">
          <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
            <h1 class="flex-grow-1 fs-3 fw-semibold my-2 my-sm-3">Travelling & Expense</h1>
            <nav class="flex-shrink-0 my-2 my-sm-0 ms-sm-3" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">Travelling & Expense</li>
                <li class="breadcrumb-item">Lists</li>
                <li class="breadcrumb-item active" aria-current="page">Detail</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
      <!-- END Hero -->
  
      <!-- Page Content -->
      <div class="content">
        <div class="block block-rounded">
          <div class="block-content">
            <div class="row">
              <div class="col-md-6 mb-3">
                <p>Claim No : <b>E202210111</b> Date : <b>16-12-22</b></p>
              </div>
            </div>
          </div>
        </div>
        <div class="block block-rounded">
          <div class="block-content">
            <div class="row">
              <div class="col-md-12 mb-3">
                <table class="table table-bordered mb-0">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Date</th>
                      <th>Type</th>
                      <th>Invoice</th>
                      <th>Description</th>
                      <th>Amount</th>
                      <th>Vat</th>
                      <th>Wht</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-center"><a href="#">1</a></td>
                      <td><a href="">16-12-2022</a></td>
                      <td>Type</td>
                      <td>1234</td>
                      <td>...</td>
                      <td>1,000.00</td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="text-center"><a href="#">2</a></td>
                      <td><a href="">16-12-2022</a></td>
                      <td>Type</td>
                      <td>1234</td>
                      <td>...</td>
                      <td>1,000.00</td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="text-center"><a href="#">3</a></td>
                      <td><a href="">16-12-2022</a></td>
                      <td>Type</td>
                      <td>1234</td>
                      <td>...</td>
                      <td>1,000.00</td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="4"></td>
                      <td colspan="2">Total amount (Include VAT) :</td>
                      <td colspan="2">Total Withholding Tax :</td>
                    </tr>
                    <tr>
                      <td colspan="4"></td>
                      <td colspan="2">Total Base VAT :</td>
                      <td colspan="2">Total Withholding Tax - BIG Absorb :</td>
                    </tr>
                    <tr>
                      <td colspan="4"></td>
                      <td colspan="2">Total VAT :</td>
                      <td colspan="2">Total expense :</td>
                    </tr>
                  </tfoot>
                </table>
              </div>
              <div class="col-md-12 mb-3 text-end">
                <button class="btn btn-primary btn-sm"><i class="fa fa-print"></i> Print</button>
              </div>
              <div class="col-md-12 mb-3">
                <button class="btn btn-success me-1">Approve</button>
                <button class="btn btn-danger">Reject</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END Page Content -->
    </main>
    <app-footer></app-footer>
  </div>
    
  