<div id="page-container" class="sidebar-o enable-page-overlay side-scroll page-header-fixed side-trans-enabled page-header-dark">
  <app-header></app-header>
  <main id="main-container">
    <!-- Hero -->
    <div class="bg-body-light">
      <div class="content content-full">
        <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
          <h1 class="flex-grow-1 fs-3 fw-semibold my-2 my-sm-3">Clear Advance</h1>
          <nav class="flex-shrink-0 my-2 my-sm-0 ms-sm-3" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">Clear Advance</li>
              <li class="breadcrumb-item active" aria-current="page">Lists</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
    <!-- END Hero -->

    <!-- Page Content -->
    <div class="content">
      <div class="block block-rounded">
        <div class="block-content">
          <div class="row mb-3">
            <div class="col-md-12">
              <div class="row">
                <div class="col">
                  <select name="" id="" class="form-select">
                    <option value="">-- Status --</option>
                  </select>
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="Advance No.">
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="INITIALS">
                </div>
                <div class="col">
                  <input type="date" class="form-control">
                </div>
                <div class="col">
                  <button class="btn btn-primary">Search</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <table class="table table-bordered">
                <thead>
                  <tr class="table-theme">
                    <th>Advance No</th>
                    <th>Clear Advance No</th>
                    <th>Request Date</th>
                    <th>INITIALS</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Description</th>
                    <th>Finance</th>
                    <th>Account</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of data">
                    <td>{{data.advanceNo}}</td>
                    <td><a href="#" routerLink="/clearAdvance/finance/detail">{{data.claim}}</a></td>
                    <td>{{data.date}}</td>
                    <td>{{data.ini}}</td>
                    <td>{{data.amount}}</td>
                    <td>{{data.status}}</td>
                    <td>{{data.description}}</td>
                    <td class="text-center"><i class="far fa-circle text-success"></i></td>
                    <td class="text-center"><i class="far fa-circle text-success"></i></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END Page Content -->
  </main>
  <app-footer></app-footer>
</div>